nav li {
    float: left;
    background-color: antiquewhite;
    height: 150;
    margin-left: 60px;
}

nav {
  padding: 90px
}



  img {
    width: 1300px;
    height: 200px;
    margin-left: 50px
  }

